body, html {
    margin: 0;
    padding: 0;
    color: #ccc;
    width: 100%;
    height: 100%;
    font-size: 25px;
    background: #FFF;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin-top: 12px;
}

.translucent {
    z-index: 100;
    background: rgba(0,0,0,.5);
    box-shadow: inset 0 0 30 0 rgba(0, 0, 0, 0.3);
}

#current_date_time {
    width: 276px;
    float: left;
    padding: 12px 20px;
}

.large {
    font-size: 80px;
    letter-spacing: -2px;
}

.time .sec {
	font-size: 25px;
	padding-left: 5px;
	position: relative;
	top: -35px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table#events_table {
    width: 100%;
}

table#events_table td {
    width: 25%;
    font-size: 25px;
    overflow: hidden;
    padding: 15px 10px;
    vertical-align: top;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

table#events_table td .day {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

#forecasts {

}

#forecasts .forecast {

}

#forecasts .forecast-today {

}

#forecasts .forecast span {

}

#calendar {
    float: left;
}

table td .more_events {

}

#img-info {
    top: 45%;
    right: 0px;
    z-index: 1000;
    padding: 15px;
    display: block;
    text-align: right;
    position: absolute;
    background: rgba(0, 0, 0, 0.298039);
}

.xxsmall {
    font-size: 15px;
}

.dark {
    opacity: .4;
    color: #FFF;
}

.bright {
    color: #FFF;
}

.semi_bold {
    font-weight: 600;
}